<%- include('_head') %>
    <title>Blog</title>
</head>
<body>
    <%- include('_nav') %>
    <div class="container">
        <h1 class="mt-3">Blog App</h1>
        <div class="card text-center mt-5">
            <div class="card-header">
              <h2>Welcome</h2>
            </div>
            <div class="card-body">
              <h5 class="card-title">Node and Mongo Blog App</h5>
              <p class="card-text">This is a blog app built using Node Js, Express, and MongoDB.</p>
              <p class="card-text">If you log in, you'll be able to create and delete posts. Each post can have a title, description, markdown text, and an image.</p>
              <a href="/articles/new" class="btn btn-primary">Start Posting</a>
            </div>
          </div>
    </div>
</body>
</html>